.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.5);
    max-width: 400px; /* 폼의 최대 너비 설정 */
    width: 100%; /* 최대 너비에서 넘치지 않도록 */
}

/* 폼 내부 요소 스타일링 */
.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.login-form button {
    padding: 20px 30px;
    background-color: #4403a8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #6202FF;
}

.text-size {
    font-size: 30px;
}