@import url(https://fonts.googleapis.com/css?family=Inter:300);
/*body{*/
/*    padding:0;*/
/*    margin:0;*/
/*    font-family: 'Inter';*/
/*    background: #5e42a6;*/
/*}*/
.vid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../../public/mapd.png'); /* 배경 이미지 설정 */
}
.bgvid.back {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}
.inner {
    position: absolute;
}

.inner-container {
    width: 2000px;
    height: 1200px;
    position: absolute;
    top: calc(50vh - 600px);
    left: calc(50vw - 1000px);
    overflow: hidden;
    border-radius: 7px;
}

.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Inter';
    color: #000000;
    background: rgba(0, 0, 0, 0%);
    padding: 360px 0px;
    border-radius: 7px;
}

.box h1{
    text-align:center;
    margin:30px 0;
    font-size:30px;
}
.box input{
    display:block;
    width:800px;
    margin:20px auto;
    padding:25px;
    background:rgba(0,0,0,0.2);
    color:#FFFFFF;
    border-radius: 15px;
    border:0;
}
input::placeholder {
    color: rgb(0, 0, 0);
}
.signup{
    color: rgb(0, 0, 0)!important;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
    outline:none;
}
.box button {
    background: #2c0375;
    border: 0;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    width: 800px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s; /* 부드러운 전환 효과 추가 */
}

.box button:hover {
    background: #6202FF; /* 호버 시 배경색 */
}

.box button:active {
    background: #000000;
}

.box p {
    font-size: 14px;
    text-align: center;
}

.box p span {
    cursor: pointer;
    color: #636365;
}

.remember-container {
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    font-size: 18px;
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 10px;
    width: 800px;
    position: relative; /* 상대적 위치 지정 */
}

.remember-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    margin-right: 10px; /* Space between checkbox and label */
    border-radius: 4px;
    position: relative; /* 상대적 위치 지정 */

}

.remember-checkbox.checked {
    background-color: #A95AF7; /* 체크 시 배경색 변경 */
}

.remember-container label {
    color: rgb(0, 0, 0); /* Text color */
    cursor: pointer; /* Pointer cursor for label */
}

.row {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 20px auto;
}
@media screen and (max-width: 986px) {
    .bgvid{
        height: 100px!important;
    }
}

@media screen and (min-width: 986px) {
    .bgvid.back {
        width: 100%;
    }
}